*{
    margin: 0;
    padding: 0;
}
.menu{
    box-sizing: border-box;
    height: 90px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(157,2,2);
  }

  .background {
    background-color:#ecf0f5;
    display: block;
    font-family:sans-serif;
    font-size: 15px;
}

.img_upf {
    margin-left: 10px;
   }