*{
    margin: 0;
    padding: 0;
}
.background {
    background-color:#ecf0f5;
    display: block;
    font-family:sans-serif;
    font-size: 15px;
}
.caixa {
    background-color: #ffff ;
    padding: 50px;
    border-radius: 10px;
    margin-left: 390px;
    margin-top: 50px;
    width: 50%;
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, green, yellow, red);
    border-image-slice: 1;
}
.img {
    margin-left: 40px;
   }
