*{
    margin: 0;
    padding: 0;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 1500px;
    background-color: #222d32;
    float: left;
    position: justify;

}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: rgb(248, 239, 239);
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color:  #1a2226;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}